@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-400-normal.woff2)
    format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-400-normal.woff)
    format("woff");
}

@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-500-normal.woff2)
    format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-500-normal.woff)
    format("woff");
}

@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-600-normal.woff2)
    format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-600-normal.woff)
    format("woff");
}

@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-700-normal.woff2)
    format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-700-normal.woff)
    format("woff");
}

@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-800-normal.woff2)
    format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kodchasan@latest/latin-800-normal.woff)
    format("woff");
}

body {
  font-family: "Kodchasan", sans-serif;
}

:root {
  --primary-color: #1d349a;
  --secondary-color: #c00069;
  --primary-color-rgb: 12, 28, 68;
}

button {
  cursor: pointer;
}

.button-blue {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-family: "Kodchasan", sans-serif;
  padding: 10px;
  border-radius: 999px;
}

.button-pink {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  font-family: "Kodchasan", sans-serif;
  padding: 10px;
  border-radius: 999px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1 {
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-weight: 700;
}
