.landing-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/hot-balloon-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: rgba(0, 12, 68, 0.7);
  background-blend-mode: multiply;
}

.landing-page-logo {
  height: 30vh;
}

.landing-page-container h1 {
  color: white;
}

.landing-page-button-container {
  display: flex;
  gap: 2rem;
}
