.selection-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/hot-balloon-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 12, 68, 0.8);
  background-blend-mode: multiply;
  gap: 1rem;
}
